services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    # ports:
    #   - "8080:8080" # Not exposed to host, only accessible within the network
    environment:
      - DB_PATH=/data/sqlite.db
    volumes:
      - ./database:/data
    networks:
      - app_network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8081:3000"
    environment:
      - INTERNAL_API_URL=http://backend:8080
    depends_on:
      - backend
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge
